pss-lookup-service/src/main/app/pss-lookup-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="look2book.cloudhub.io" port="80" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/apiplatform/repository/v2/organizations/66647272-172b-4e9e-9e63-8a73cbba635e/public/apis/36909/versions/38543/files/root"/>
    </http:request-config>
    <flow name="pss-lookup-serviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="com.mulesoft.demo.pss.lookup.FlightLookupService" doc:name="CXF"/>
        <set-variable variableName="customerid" value="#[message.inboundProperties.customerid]" doc:name="Variable"/>
        <component class="com.mulesoft.demo.pss.lookup.FlightLookupImpl" doc:name="Java"/>
        <async doc:name="Async">
            <http:request config-ref="HTTP_Request_Configuration" path="/events/lookup/{customerId}" method="POST" sendBodyMode="NEVER" doc:name="HTTP">
                <http:request-builder>
                    <http:uri-param paramName="customerId" value="#[flowVars.customerid]"/>
                </http:request-builder>
            </http:request>
        </async>
    </flow>
</mule>
